{% extends 'mailing/base.html' %}
{% block title %}Attempts{% endblock %}
{% block content %}
<div class="container">
    <h3>Attempts log</h3>
    <div class="col-12 d-flex justify-content-between align-items-center mt-3 mb-3">
        <a class="btn btn-secondary" href="{% url 'mailing:home' %}">
            Home
        </a>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                {% if user.is_superuser or perms.mailing.can_view_other_recipient %}
                    <th>Owner:</th>
                {% endif %}
                <th>Date time:</th>
                <th>Status:</th>
                <th>Response:</th>
                <th>Mailing ID:</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for attempt in attempts %}
            <tr>
                {% if user.is_superuser or perms.mailing.can_view_other_recipient %}
                    <th>{{ attempt.user }}:</th>
                {% endif %}
                <td>{{ attempt.dt }}</td>
                <td>{{ attempt.status }}</td>
                <td>{{ attempt.response }}</td>
                <td>{{ attempt.mailing.id }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{% url 'mailing:attempt_detail' attempt.pk %}">
                        More
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}