{% extends 'mailing/base.html' %}
{% block title %}Mailing detail{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Mailing Detail</h1>
    <p><strong>ID:</strong> {{ mailing.id }}</p>
    <p><strong>Start of sending:</strong> {{ mailing.start_of_sending }}</p>
    <p><strong>End of sending:</strong> {{ mailing.end_of_sending }}</p>
    <p><strong>Status:</strong> {{ mailing.get_status_display }}</p>
    <p><strong>Message:</strong> {{ mailing.message }}</p>
    <p><strong>Recipients:</strong></p>
    <ul>
        {% for recipient in mailing.recipient.all %}
        <li>{{ recipient }}</li>
        {% endfor %}
    </ul>
    <a class="btn btn-secondary" href="{% url 'mailing:mailings' %}">Back</a>
    <a class="btn btn-secondary" href="{% url 'mailing:mailing_update' mailing.pk %}">Edit</a>
    <a class="btn btn-primary" href="{% url 'mailing:start_mailing' mailing.id %}">Send</a>
    <a class="btn btn-danger" href="{% url 'mailing:mailing_delete' mailing.pk %}">Delete</a>
</div>
{% endblock %}