{% extends 'mailing/base.html' %}
{% block title %}Message list{% endblock %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h3>Messages</h3>
        <div class="col-12 d-flex justify-content-between align-items-center mt-3 mb-3">
            <a class="btn btn-secondary" href="{% url 'mailing:home' %}">
                Home
            </a>
            <a class="btn btn-primary" href='{% url "mailing:message_create" %}' role="button">
                Add New
            </a>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Message</th>
                        {% if user.is_superuser or perms.mailing.can_view_other_recipient %}
                        <th>Owner:</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for message in messages %}
                    <tr>
                        <th scope="row">{{ message.subject }}</th>
                        <td>
                            <a href="{% url 'mailing:message_detail' message.pk %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                {{ message.body|truncatechars:50 }}
                            </a>
                        </td>
                        {% if user.is_superuser or perms.mailing.can_view_other_recipient %}
                            <th>
                                <a href="{% url 'users:moderator_user_detail' message.user.pk %}">
                                    {{ message.user }}
                                </a>
                            </th>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'mailing/includes/pagination.html' %}
    </div>
</div>
{% endblock %}